# Archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos y carpetas generados por editores de texto y IDEs
.vscode
.vscode/settings.json
*.vscode/**
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
*.sublime-workspace
*.vscode-workspace
*.idea
*.pyc
*.pyo
*.class
*.cache
*.project
*.iml
*.ipr
*.iws
*.hprof